# Kind of a template, additional things may need to be added when adding new features

__pycache__/
*.pyc
*.pyo

.vscode/
.idea/

app/web/factor_output.csv
app/web/heston_output.csv

app/web/factor_model
app/web/factor_model.exe
app/web/heston_model
app/web/heston_model.exe

*.log
docker-compose.override.yml

.DS_Store
Thumbs.db

.venv
build/
dist/

.ipynb_checkpoints/
